.products-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.img-prod{
    width: 100%;
}

span{
    display: none;
}
